#followus_instagram h1 {
    text-align: center;
    margin: 25px auto;
    font-size: 26px;
    font-weight: 700;
}

#followus_instagram .slick-list {
    background-color: #FAFAFA;
}

#followus_instagram .slick-prev {
    left: 30px;
    z-index: 999;
}

#followus_instagram .slick-next {
    right: 30px;
}

#followus_instagram .slick-next::before,
#followus_instagram .slick-prev::before {
    font-size: 35px;
    color: #806b6b;
}

#followus_instagram .slider-container img {
    width: 100%;
}

#followus_instagram .slick-dots {
    bottom: 20px;
}

#followus_instagram .slick-dots li button:before {
    color: black !important;
}